<h2>Signing up and connecting your site</h2>
<h1>How to connect your site to AdSense</h1>
<div>
    <div class="cc">
        <p>To complete the <a href="/adsense/answer/10162">AdSense approval process</a> you need to connect your site to AdSense. It’s so we can make sure all sites using AdSense meet our <a href="/adsense/answer/48182">policies</a>.</p>

        <p>Here's how to connect to your site:</p>

        <ol>
            <li>Copy the code on your AdSense homepage.</li>
            <li>
                Paste the code into the HTML of your page, right after the <code>&lt;head&gt;</code> tag.
                <div class="note">How you go about this step will depend on the tools you use to edit your site, e.g., HTML editor, website builder, CMS, etc. If you need more assistance, visit the help center or support forum for the tool you're using.</div>

                <div class="zippy-wrapper">
                    <div class="zippy-container zippy-last"><a class="zippy index1 goog-zippy-expanded" aria-expanded="true" href="javascript:;" role="button" aria-haspopup="true" st-ve="2" st-imp="" st-idx="1,1" st-ignore="">View an example HTML page with the code added</a></div>

                    <div class="zippy-overflow">
                        <div class="zippy-content" style="margin-top: 0px; transition: margin-top 0.218s ease-out; overflow: auto;">
                            <p>
                                <code>
                                    &lt;html&gt;<br>
                                    &lt;head&gt;<br>
                                    <mark>
                                        &lt;script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"&gt;&lt;/script&gt;<br>
                                        &lt;script&gt;<br>
                                        (adsbygoogle = window.adsbygoogle || []).push({<br>
                                        google_ad_client: "ca-pub-123456789",<br>
                                        enable_page_level_ads: true<br>
                                        });<br>
                                        &lt;/script&gt;
                                    </mark><br>
                                    This is the head of your page.<br>
                                    &lt;title&gt;Example HTML page&lt;/title&gt;<br>
                                    &lt;/head&gt;<br>
                                    &lt;body&gt;<br>
                                    This is the body of your page.<br>
                                    &lt;/body&gt;<br>
                                    &lt;/html&gt;
                                </code>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                When you've finished, check the box and click <strong>Done</strong>.
                <p>We’ll notify you when your site’s connected. This usually takes less than a day. Then start earning money by placing ads.</p>
            </li>
        </ol>

        <h2>We can't detect the code</h2>

        <p>If we can't detect the code on your site, we'll send you an email. To help you fix the issue, here are a few things to check:</p>

        <ul>
            <li>Did you paste the code into the HTML of your page?</li>
            <li>Did you paste the code right after the tag?</li>
            <li>Did you paste the code into your sign-up site?</li>
        </ul>

        <h2>If your application is disapproved</h2>

        <p>There are some situations when we won't be able to approve your application for an AdSense account. Depending on why your account was disapproved, you might be able to take action and reapply. For more information, see <a href="https://support.google.com/adsense/answer/81904">My application was disapproved. What do I do now?</a></p>

        <div class="pull pull-nextstep">
            <h3>Next steps</h3>

            <ul>
                <li><a href="/adsense/answer/7037624">Set up ads on your site</a></li>
            </ul>
        </div>
    </div>
</div>
<button id="getTeamsBtn">Get Teams</button>
<div id="conteiner" class="table-responsive"></div>
@section scripts{
    <script>
        $('#getTeamsBtn').on('click', function () {
            console.log('SENT FROM CLIENT');
            $.get("http://service-19.apphb.com/api/PremierLeagueTeams", function (teams) {
                getTeams(teams);
                console.log(teams);
            });
        });

        function getTeams(teams) {
            var i,
                    length,
                    $table = $('<table>'),
                    $tbody = $('<tbody>'),
                    $thead = $('<thead>'),
                    $trh = $('<tr>'),
                    $tr = $('<tr>'),
                    $th = $('<th>'),
                    $td = $('<td>');

            $table.addClass('table table-striped table-bordered table-hover table-condensed');
            $trh.addClass('success');
            $th.html('ID');
            $trh.append($th.clone(true));
            $th.html('Team');
            $trh.append($th.clone(true));
            $thead.append($trh.clone(true));
            $table.append($thead.clone(true));

            for (i = 0, length = teams.length; i < length; i += 1) {
                $td.html(teams[i].Id);
                $tr.html($td.clone(true));
                $td.html(teams[i].Name);
                $tr.append($td.clone(true));
                $tbody.append($tr.clone(true));
            }

            $table.append($tbody.clone(true));
            $("#conteiner").html($table);
        }
    </script>
}
